<!doctype html>
<html>
<head>
    <title>APT-TS - OSINT Gathering</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="header">
        <h1><a href="/" style="text-decoration: none; color: white;">Automated Penetration Testing</a></h1>
        <button class="osint-button"><a href="/" style="text-decoration: none; color: white;">Home Page</a></button>
    </div>
    <h2 style="text-align: center">Open Source Intelligence Gathering</h2>

    <div class="osint-section">
        <form name="osint-form" method="POST">
            <div class="domain-section">
                <label for="target">Enter IP Address or Domain:</label>
                <input type="text" id="target" name="target" required />
            </div>

            <input type="submit" class="osint-start-button" value="Start OSINT Gathering" />
        </form>

        <div class="osint-results">
            <h3 style="text-align: center">OSINT Results</h3>
            <div class="result-container">
                <div id="stdout"></div>
                <div id="stderr"></div>
            </div>
            
        </div>
        <div id="notification" class="notification hidden">Files saved successfully to [APT-TS PATH] /resultFilesFolder/OSINT</div>

    </div>

    <script src="js/osint.js"></script>
</body>
</html>
