body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #dddddd; /* Light gray background */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #022150;
    color: white;
    text-align: center;
}

.header h1 {
    margin: 0; /* Remove the margin to center the text */
}

.osint-button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.link {
    display: block;
    text-align: center;
    margin: 20px auto;
    color: #000000;
    text-decoration: none;
}

.tool-logo {
    width: 75px; /* Set your desired width */
    height: 75px; /* Allow the height to adjust proportionally */
}

form {
    text-align: center;
    margin-top: 20px;
}

form label, form select, form option {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 150px; /* Set a fixed width for labels if needed */
}

form input, form button {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 200px; /* Set a fixed width for inputs and buttons if needed */
}

.tool-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tool-container {
    display: flex;
    align-items: center;
    margin: 5px;
}

.tool-container label {
    margin-right: 10px;
}

.tool-logo {
    max-width: 100px;
    max-height: 100px;
}

.domain-section {
    text-align: center;
}

.domain-section label,
.domain-section input {
    display: block;
    margin: 10px auto;
}

.result-container, .result-container-scan{
    height: 400px; /* Set the desired height for the scrollable area */
    width: 80%; /* Set the width to 80% and center the container */
    margin: 0 auto; /* Center the container horizontally */
    overflow-y: scroll; /* Enable vertical scrolling */
    border: 2px solid grey; /* Optional: Add a border for aesthetics */
    padding: 5px; /* Optional: Add some padding */
    background-color: black; /* Set the background color to black */
}

#stdout, #stdoutexp, #stdoutscan {
    white-space: pre; /* Preserve line breaks */
    color: white; /* Set text color to white */
    font-size: small;
}

#stderr, #stderrexp, #stderrscan {
    white-space: pre; /* Preserve line breaks */
    color: red; /* Set text color to white */
    font-size: small;
}

.notification, .notificationScan, .notificationExploit {
    position: relative;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    z-index: 1;
    margin-bottom: 10px; /* Adjust as needed to add space between notifications */
}


.notification.hidden {
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 480px) {
    .content {
        padding: 10px;
    }
    .tool-logo {
        width: 50px; /* Set a smaller width for mobile devices */
    }
}